.waytogo:any-link{
    text-decoration:none;
}
.waytogo{
    
    width:100%;
    font-size:0.9em;
    display:flex;
    align-items: center;
    border-left:3px solid transparent;
    border-right:3px solid transparent;
    /* background-color: red; */
}
.watogodown:any-link{
    text-decoration:none;
}
.wayotogo-child{
    display:flex;
    align-items: center; 
    
    text-align: left;
}
.watogodown{
    width:100%;
    font-size:0.9em;
    display:flex;
    align-items: center;
    color:#fff;
    
}

#texto{
    width:144px;
    
}
.icone{
    font-size:1.5em;
    text-align: center;
    width:50px;
}
.waytogo:hover{
    border-left:3px solid var(--blue);
    color:var(--dark)!important;
    background-color:#ddd;
}
@media(min-width:576px){

}
.is-active{
    border-left:3px solid var(--blue);
    padding:10px 12px;
    color:var(--dark)!important;
    background-color:#ddd;
}

.custom-header-dropdown-item {
    display: block;
    width: 100%;
    padding:0;
    clear: both;
    font-weight: 400;
    color:#fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #aaa !important;
    text-decoration: none !important;
    background-color:transparent !important;
}