header.header{
    z-index:3000;
    grid-area:header;
    background-color:#0065DC!important;
}

.logo>img{
    max-height: 25px;
}
.custom-toggle-icon{
    border:1px solid transparent;
    color:#fff;
    font-size:20px;
    cursor:pointer;
    font-weight: 100;
}
.edit-toggler{
    
    
}
.spand-left{
    margin-left:88px;
}

.custom-toggle-icon:hover{
    color:#000;
    
}
a{
    text-decoration:none !important;
    color:#d7e1ec !important;
}
.navbar{
    padding:0 1em !important;
    width: 100%;
}
.drop-down-user{
    
}
@media (min-width: 576px){
.custom-header-nav-link {
        padding: 0 .5em !important;
        line-height:50px;
        color:#d7e1ec !important;
    }
    .custom-header-nav-link:hover{
        cursor:pointer;
        color:#d7e1ec !important;
        background-color:rgba(255,255,255,0.1);
    } 
}
.navbar .navbar-toggler .navbar-toggler-icon {
    color: rgb(255, 255, 255) !important;
    background-color:transparent;
    cursor:pointer !important;
    border-color:#fff !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    
}
.navbar .navbar-toggler,
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus
{
    cursor:pointer !important;
    border:0 !important;
    box-shadow:none !important;
    outline:0 !important;
    color:#fff !important;
    
}
.custom-header-dropdown-menu{
    background-color:var(--blue);
}

/*  
.navbar{
    background-color:#0065DC !important;
    border:0 !important; 
    border-radius: 0 !important;
    padding:0 !important;
    height: 48px;
}


.azul{
    background-color:#0065DC;
}
:focus{
    outline: 0;
}
.collapse{
    background-color:#0065DC;
    
}
.custom-nav-link-header{
    cursor:pointer;
    vertical-align: middle;
    line-height: 48px;
    padding:0;
}
.nav-link:hover{
    background-color:rgba(255,255,255,0.2);
}
 */
