:root{
    --blue: #007bff;
    --dark:#1D2124;
    --aside-menu-width:auto;
    --header-height:auto;
}

html, body{
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
@media (min-width: 0px){
    .container {
        max-width: 100% !important;
        
    }
}

@media (min-width: 576px){
    .container{
        padding: 0px 2em ;
    }
}

.app {
    height:100vh;
    background-color:#f1f1f1;
    display:grid;
    grid-template-columns:var(--aside-menu-width) 1fr;
    grid-template-rows:var(--header-height) 1fr;
    grid-template-areas:
    "header header"
    "menu main";
}



/* *{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
} */

main.main {
    grid-area:main;
}
main.main{
    background-color:#fff;
    border-left:1px solid #bbb;
    padding:0;
    overflow: hidden;
    overflow-y: scroll;
}
.row{
    margin-right:0!important;
    margin-left:0!important;
}
@media(min-width:0px) and (max-width:576px){
    .app{
        grid-template-areas:
        "header header"
        "main main";
    }
}
.no-padding-lr{
    padding-left:0px !important;
    padding-right:0px !important;
}
