#section-title{
    display:flex;
    align-items:baseline;
}

#subtitle{
    font-size:1.2em;
}
.form-row {
margin-left:0px !important;
margin-right:0px !important;
}
label{
    margin-bottom:0px !important;
}
@media(min-width:768px){
    .custom-padding{
        padding-right:2em !important;
    }
}
.legend-input{
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    direction: ltr;
    margin:0 !important;
}
